<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Yaroslav 53775</name>
    <description>weather App</description>
    <author email="ly53775@zut.edu.pl" href="https://cordova.apache.org">
        Yaroslav Lopatkin
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
  <platform name="electron">
    <icon src="res/electron/cloud-sun.png" />
    <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
  </platform>
</widget>
