html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Calibri', sans-serif;
  background: linear-gradient(to bottom right, #351b06, #ed7777);
  color: #2c3e50;
  text-align: center;
}

header {
  background: linear-gradient(to top, #86A8E7, #7F7FD5);
  padding: 40px;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 0px 5px #34495e, 0px 0px 10px #34495e, 0px 0px 10px #34495e, 0px 0px 20px #34495e;
}

header .photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 4px solid #5cef05;
}

.container {
  width: 90%;
  max-width: 720px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  flex: 1;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #7F7FD5;
  text-shadow: 0px 0px 3px #d6d6d6, 0px 0px 5px #d6d6d6;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #86A8E7;
  text-shadow: 0px 0px 3px #d6d6d6, 0px 0px 5px #d6d6d6;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  color: #2c3e50;
  font-weight: bold;
}

ul li {
  margin: 10px 0;
  padding: 15px 20px;
  position: relative;
  background: linear-gradient(to right, #7F7FD5, #86A8E7);
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 15px rgba(127, 127, 213, 0.5);
  transition: all 0.3s ease-in-out;
}

ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 15px;
  height: 15px;
  background-color: #2c3e50;
  border-radius: 50%;
  transform: translateY(-50%);
}

ul li span {
  position: relative;
}

ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 0 30px rgba(127, 127, 213, 1);
}

ul li:hover span::before, ul li:hover span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(127, 127, 213, 0.5);
  filter: blur(5px);
  z-index: -1;
}

.contact-info {
  background-color: #f3f4f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: inset 0 0 10px #dcdcdc, 0 0 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

.contact-info p {
  color: #34495e;
}

footer {
  width: 100%;
  background: linear-gradient(90deg, #86A8E7, #7F7FD5);
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 1em;
  border-top: 4px solid #7F7FD5;
}

footer p {
  margin: 0;
}

p:hover {
  color: #7F7FD5;
  transition: color 0.3s ease;
}

h2:hover, h3:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  header h1 {
    font-size: 2.5rem;
  }

  .container {
    padding: 20px;
    margin-top: 10px;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  ul li {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2rem;
  }

  .container {
    padding: 15px;
    margin-top: 5px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  ul li {
    font-size: 0.8em;
  }
}
